/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

h1 {
  color: #fff;
}

#output {
  text-align: center;
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;

  >.teamCard {
    width: 24%;
    border: 3px solid rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    gap: 5px;
    background-color: bisque;

    >.teamPlayer {
      border: 3px solid grey;
      border-radius: 5px;
      gap: 5px;
      padding: 5px;
      margin: 5px;
      background-color: rgb(245, 238, 229);
    }
  }
}